body {
    background-color: rgb(52, 157, 232);
}

hr {
border: black;

width: 10%;
border-width: 10px;
border-width: 10px;
border-style: none;
border-top-style: dotted;
}

h1 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    
  
}
h2 {
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bold;
}
h3 {
    color: burlywood;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bold;
}
h4 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
}
p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: lighter;

}




.top-cloud-2 {
    height: 200px;
    width: 200px;
    position: absolute;
    right:  1000px;
    top: 90px;
    
}

.top-cloud-3 {
    height: 200px;
    width: 200px;

    position: absolute;

    left: 1000px;

    top: 45px;
}



.mountain {
    height: 100px;
    width: 100px;

    position: relative;

  
}


.top-container {
    background-color: rgb(52, 157, 232);
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;

    
}

.second-container {

    background-color: rgb(103, 230, 188);
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;


}

.third-container {

    background-color: rgb(255, 255, 255);
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    justify-content: center;
    align-items: center;


}



.last-container {

    background-color: rgb(52, 157, 232);
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    justify-content: center;
    align-items: center;


}

.aboutMe {

  width: 70%;
   position: relative;

 

}