body {
    background-color: F0EBCE;
}

hr {
border: black;

width: 10%;
border-width: 10px;
border-width: 10px;
border-style: none;
border-top-style: dotted;
}

h1 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
}
h2 {
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
}
h3 {
    color: burlywood;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: normal;
}
p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: lighter;

}

.top-container {
    background-color: rgb(52, 157, 232);
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;

    
}


.top-cloud-2 {
    height: 200px;
    width: 200px;
    position: absolute;
    right:  1000px;
    top: 90px;
    
}

.top-cloud-3 {
    height: 200px;
    width: 200px;
    position: absolute;
    left: 1000px;
    top: 45px;
}



.mountain {
    height: 100px;
    width: 100px;

    top: 0px;
    bottom: 0px;
    position: relative;
    
    
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

}